## Loading Libraries and establishing connection to the database

In [25]:
import pymysql
import pandas as pd
import yfinance as yf
from datetime import date,timedelta
from time import gmtime, strftime

conn = pymysql.connect(host = '130.211.219.71',port=int(3306),user='root',passwd='Nodal@987',db='nodalDB')
cur = conn.cursor()
nifty = pd.read_csv("nifty.csv")
banknifty = pd.read_csv("banknifty.csv")
nifty_list = nifty['Symbol'].tolist()
banknifty_list = banknifty['Symbol'].tolist()
final_list = list(sorted(set(nifty_list) | set(banknifty_list)))


def add_data(stock_name = "", start_date = "", end_date = ""):
    name = stock_name + ".NS"
    stock = yf.download(name, start=start_date, end=end_date, progress=False,)
    stock.dropna(inplace = True)
    stock.reset_index(inplace = True)
    stock.rename(columns = {'Date':'trading_date', 'Open' : 'open', 'High' : 'high','Low' : 'low','Close' : 'close', 'Adj Close' : 'adj_close', 'Volume' : 'volume'}, inplace = True)
    stock_name = stock_name
    stock['stock_name'] = [stock_name] * stock.shape[0]
    stock['timestamp'] = [strftime("%Y-%m-%d %H:%M:%S", gmtime())] * stock.shape[0]
    
    for i,row in stock.iterrows():
        sql = """INSERT INTO daily_nifty_banknifty_stocks_list(trading_date, open, high, low, close, adj_close, volume, stock_name, timestamp) 
                 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
        cur.execute(sql,tuple(row))
        print("Record Added", i)
    conn.commit()
    
today = date.today()
yesterday = today - timedelta(days=1)

for stocks in final_list:
    print("Trying to add {} in the database".format(stocks))
    add_data(stock_name = stocks,start_date = str(yesterday),end_date = str(today))
    print(stocks, "is added successfully to the database.")
sql = "DELETE t1 FROM daily_nifty_banknifty_stocks_list t1 INNER JOIN daily_nifty_banknifty_stocks_list t2 WHERE t1.id < t2.id AND t1.trading_date = t2.trading_date AND t1.open = t2.open AND t1.high = t2.high AND t1.low = t2.low AND t1.close = t2.close AND t1.stock_name = t2.stock_name"
cur.execute(sql)
conn.commit()

Trying to add ADANIPORTS in the database
Record Added 0
ADANIPORTS is added successfully to the database.
Trying to add ASIANPAINT in the database
Record Added 0
ASIANPAINT is added successfully to the database.
Trying to add AUBANK in the database
Record Added 0
AUBANK is added successfully to the database.
Trying to add AXISBANK in the database
Record Added 0
AXISBANK is added successfully to the database.
Trying to add BAJAJ-AUTO in the database
Record Added 0
BAJAJ-AUTO is added successfully to the database.
Trying to add BAJAJFINSV in the database
Record Added 0
BAJAJFINSV is added successfully to the database.
Trying to add BAJFINANCE in the database
Record Added 0
BAJFINANCE is added successfully to the database.
Trying to add BANDHANBNK in the database
Record Added 0
BANDHANBNK is added successfully to the database.
Trying to add BHARTIARTL in the database
Record Added 0
BHARTIARTL is added successfully to the database.
Trying to add BPCL in the database
Record Added 0
BPCL is added successfully to the database.
Trying to add BRITANNIA in the database
Record Added 0
BRITANNIA is added successfully to the database.
Trying to add CIPLA in the database
Record Added 0
CIPLA is added successfully to the database.
Trying to add COALINDIA in the database
Record Added 0
COALINDIA is added successfully to the database.
Trying to add DIVISLAB in the database
Record Added 0
DIVISLAB is added successfully to the database.
Trying to add DRREDDY in the database
Record Added 0
DRREDDY is added successfully to the database.
Trying to add EICHERMOT in the database
Record Added 0
EICHERMOT is added successfully to the database.
Trying to add FEDERALBNK in the database
Record Added 0
FEDERALBNK is added successfully to the database.
Trying to add GRASIM in the database
Record Added 0
GRASIM is added successfully to the database.
Trying to add HCLTECH in the database
Record Added 0
HCLTECH is added successfully to the database.
Trying to add HDFC in the database
Record Added 0
HDFC is added successfully to the database.
Trying to add HDFCBANK in the database
Record Added 0
HDFCBANK is added successfully to the database.
Trying to add HDFCLIFE in the database
Record Added 0
HDFCLIFE is added successfully to the database.
Trying to add HEROMOTOCO in the database
Record Added 0
HEROMOTOCO is added successfully to the database.
Trying to add HINDALCO in the database
Record Added 0
HINDALCO is added successfully to the database.
Trying to add HINDUNILVR in the database
Record Added 0
HINDUNILVR is added successfully to the database.
Trying to add ICICIBANK in the database
Record Added 0
ICICIBANK is added successfully to the database.
Trying to add IDFCFIRSTB in the database
Record Added 0
IDFCFIRSTB is added successfully to the database.
Trying to add INDUSINDBK in the database
Record Added 0
INDUSINDBK is added successfully to the database.
Trying to add INFY in the database
Record Added 0
INFY is added successfully to the database.
Trying to add IOC in the database
Record Added 0
IOC is added successfully to the database.
Trying to add ITC in the database
Record Added 0
ITC is added successfully to the database.
Trying to add JSWSTEEL in the database
Record Added 0
JSWSTEEL is added successfully to the database.
Trying to add KOTAKBANK in the database
Record Added 0
KOTAKBANK is added successfully to the database.
Trying to add LT in the database
Record Added 0
LT is added successfully to the database.
Trying to add M&M in the database
Record Added 0
M&M is added successfully to the database.
Trying to add MARUTI in the database
Record Added 0
MARUTI is added successfully to the database.
Trying to add NESTLEIND in the database
Record Added 0
NESTLEIND is added successfully to the database.
Trying to add NTPC in the database
Record Added 0
NTPC is added successfully to the database.
Trying to add ONGC in the database
Record Added 0
ONGC is added successfully to the database.
Trying to add PNB in the database
Record Added 0
PNB is added successfully to the database.
Trying to add POWERGRID in the database
Record Added 0
POWERGRID is added successfully to the database.
Trying to add RBLBANK in the database
Record Added 0
RBLBANK is added successfully to the database.
Trying to add RELIANCE in the database
Record Added 0
RELIANCE is added successfully to the database.
Trying to add SBILIFE in the database
Record Added 0
SBILIFE is added successfully to the database.
Trying to add SBIN in the database
Record Added 0
SBIN is added successfully to the database.
Trying to add SHREECEM in the database
Record Added 0
SHREECEM is added successfully to the database.
Trying to add SUNPHARMA in the database
Record Added 0
SUNPHARMA is added successfully to the database.
Trying to add TATACONSUM in the database
Record Added 0
TATACONSUM is added successfully to the database.
Trying to add TATAMOTORS in the database
Record Added 0
TATAMOTORS is added successfully to the database.
Trying to add TATASTEEL in the database
Record Added 0
TATASTEEL is added successfully to the database.
Trying to add TCS in the database
Record Added 0
TCS is added successfully to the database.
Trying to add TECHM in the database
Record Added 0
TECHM is added successfully to the database.
Trying to add TITAN in the database
Record Added 0
TITAN is added successfully to the database.
Trying to add ULTRACEMCO in the database
Record Added 0
ULTRACEMCO is added successfully to the database.
Trying to add UPL in the database
Record Added 0
UPL is added successfully to the database.
Trying to add WIPRO in the database
Record Added 0
WIPRO is added successfully to the database.

In [29]:
df = pd.read_sql_query("SELECT * FROM daily_nifty_banknifty_stocks_list ",conn)
df.head(120)

,id,trading_date,open,high,low,close,adj_close,volume,stock_name,timestamp
0,57,2022-01-07 00:00:00,744.70,747.70,730.50,736.10,736.10,2589824,ADANIPORTS,2022-01-09 17:58:01
1,58,2022-01-07 00:00:00,3514.65,3582.00,3496.55,3576.30,3576.30,963761,ASIANPAINT,2022-01-09 17:58:02
2,59,2022-01-07 00:00:00,1175.00,1229.00,1171.30,1221.00,1221.00,3075802,AUBANK,2022-01-09 17:58:04
3,60,2022-01-07 00:00:00,734.00,740.90,725.25,730.60,730.60,10451503,AXISBANK,2022-01-09 17:58:05
4,61,2022-01-07 00:00:00,3437.50,3437.50,3377.00,3392.50,3392.50,263938,BAJAJ-AUTO,2022-01-09 17:58:06
5,62,2022-01-07 00:00:00,18075.00,18142.90,17580.00,17756.90,17756.90,322712,BAJAJFINSV,2022-01-09 17:58:07
6,63,2022-01-07 00:00:00,7763.95,7785.00,7585.00,7659.35,7659.35,1165686,BAJFINANCE,2022-01-09 17:58:08
7,64,2022-01-07 00:00:00,267.05,275.90,264.60,271.05,271.05,14710139,BANDHANBNK,2022-01-09 17:58:09
8,65,2022-01-07 00:00:00,713.90,715.15,701.45,704.70,704.70,4310138,BHARTIARTL,2022-01-09 17:58:09
9,66,2022-01-07 00:00:00,398.00,402.90,395.00,396.20,396.20,5954280,BPCL,2022-01-09 17:58:10
10,67,2022-01-07 00:00:00,3685.00,3742.00,3682.85,3737.35,3737.35,241849,BRITANNIA,2022-01-09 17:58:11
11,68,2022-01-07 00:00:00,926.40,926.65,913.35,914.75,914.75,1544856,CIPLA,2022-01-09 17:58:12
12,69,2022-01-07 00:00:00,155.00,157.45,154.95,156.95,156.95,11672847,COALINDIA,2022-01-09 17:58:13
13,70,2022-01-07 00:00:00,4500.00,4549.80,4470.50,4516.70,4516.70,269367,DIVISLAB,2022-01-09 17:58:14
14,71,2022-01-07 00:00:00,4769.45,4769.45,4690.00,4708.40,4708.40,266717,DRREDDY,2022-01-09 17:58:15
15,72,2022-01-07 00:00:00,2825.00,2833.60,2784.75,2824.40,2824.40,571785,EICHERMOT,2022-01-09 17:58:16
16,73,2022-01-07 00:00:00,90.80,91.90,90.05,91.35,91.35,19012934,FEDERALBNK,2022-01-09 17:58:17
17,74,2022-01-07 00:00:00,1722.00,1807.00,1722.00,1797.65,1797.65,2892714,GRASIM,2022-01-09 17:58:18
18,75,2022-01-07 00:00:00,1297.55,1298.50,1282.20,1290.55,1290.55,3897795,HCLTECH,2022-01-09 17:58:19
19,76,2022-01-07 00:00:00,2606.05,2618.30,2585.00,2596.70,2596.70,6184277,HDFC,2022-01-09 17:58:20
20,77,2022-01-07 00:00:00,1544.00,1566.75,1535.90,1550.55,1550.55,5588169,HDFCBANK,2022-01-09 17:58:21
21,78,2022-01-07 00:00:00,647.00,662.95,646.00,660.30,660.30,2168686,HDFCLIFE,2022-01-09 17:58:22
22,79,2022-01-07 00:00:00,2509.00,2515.50,2482.00,2499.10,2499.10,308404,HEROMOTOCO,2022-01-09 17:58:23
23,80,2022-01-07 00:00:00,481.10,495.25,480.05,493.50,493.50,9287081,HINDALCO,2022-01-09 17:58:24
24,81,2022-01-07 00:00:00,2388.00,2421.90,2388.00,2416.15,2416.15,1026094,HINDUNILVR,2022-01-09 17:58:25
25,82,2022-01-07 00:00:00,792.20,802.30,786.25,793.25,793.25,12244732,ICICIBANK,2022-01-09 17:58:26
26,83,2022-01-07 00:00:00,50.00,50.25,49.00,49.20,49.20,22297563,IDFCFIRSTB,2022-01-09 17:58:26
27,84,2022-01-07 00:00:00,926.50,938.45,916.10,922.25,922.25,4205193,INDUSINDBK,2022-01-09 17:58:27
28,85,2022-01-07 00:00:00,1815.45,1836.00,1806.80,1814.30,1814.30,4832751,INFY,2022-01-09 17:58:28
29,86,2022-01-07 00:00:00,117.65,119.20,116.95,118.50,118.50,7518288,IOC,2022-01-09 17:58:29
30,87,2022-01-07 00:00:00,219.80,220.65,217.50,218.40,218.40,8838545,ITC,2022-01-09 17:58:30
31,88,2022-01-07 00:00:00,676.00,679.00,667.50,672.85,672.85,2860538,JSWSTEEL,2022-01-09 17:58:31
32,89,2022-01-07 00:00:00,1891.90,1925.40,1883.60,1904.25,1904.25,2303191,KOTAKBANK,2022-01-09 17:58:32
33,90,2022-01-07 00:00:00,1929.05,1934.95,1897.15,1904.90,1904.90,1446479,LT,2022-01-09 17:58:33
34,91,2022-01-07 00:00:00,841.00,849.75,822.50,829.00,829.00,2531248,M&M,2022-01-09 17:58:34
35,92,2022-01-07 00:00:00,7882.10,7944.80,7835.50,7906.00,7906.00,523006,MARUTI,2022-01-09 17:58:35
36,93,2022-01-07 00:00:00,19650.50,19960.00,19587.10,19902.80,19902.80,48936,NESTLEIND,2022-01-09 17:58:36
37,94,2022-01-07 00:00:00,131.30,132.20,129.45,131.35,131.35,8819225,NTPC,2022-01-09 17:58:36
38,95,2022-01-07 00:00:00,151.50,157.50,151.35,157.05,157.05,30876106,ONGC,2022-01-09 17:58:37
39,96,2022-01-07 00:00:00,38.80,39.55,38.65,38.90,38.90,45706110,PNB,2022-01-09 17:58:38
40,97,2022-01-07 00:00:00,206.95,208.50,204.50,205.20,205.20,8924913,POWERGRID,2022-01-09 17:58:39
41,98,2022-01-07 00:00:00,137.00,137.00,133.50,135.10,135.10,20859821,RBLBANK,2022-01-09 17:58:40
42,99,2022-01-07 00:00:00,2430.95,2458.05,2411.55,2436.00,2436.00,6044266,RELIANCE,2022-01-09 17:58:41
43,100,2022-01-07 00:00:00,1208.00,1219.25,1206.00,1217.40,1217.40,1050706,SBILIFE,2022-01-09 17:58:42
44,101,2022-01-07 00:00:00,493.45,501.95,489.45,491.25,491.25,22740538,SBIN,2022-01-09 17:58:43
45,102,2022-01-07 00:00:00,26658.70,27266.20,26572.60,27046.20,27046.20,32656,SHREECEM,2022-01-09 17:58:44
46,103,2022-01-07 00:00:00,829.60,836.00,825.20,828.95,828.95,1467164,SUNPHARMA,2022-01-09 17:58:44
47,104,2022-01-07 00:00:00,725.45,744.65,725.05,736.10,736.10,2106609,TATACONSUM,2022-01-09 17:58:45
48,105,2022-01-07 00:00:00,490.05,495.50,483.75,490.60,490.60,15519765,TATAMOTORS,2022-01-09 17:58:46
49,106,2022-01-07 00:00:00,1165.20,1174.00,1147.85,1160.35,1160.35,3971605,TATASTEEL,2022-01-09 17:58:47
50,107,2022-01-07 00:00:00,3820.00,3864.90,3796.40,3853.50,3853.50,2460057,TCS,2022-01-09 17:58:48
51,108,2022-01-07 00:00:00,1702.00,1724.55,1695.10,1703.85,1703.85,2102674,TECHM,2022-01-09 17:58:49
52,109,2022-01-07 00:00:00,2630.00,2687.25,2562.35,2572.70,2572.70,4623655,TITAN,2022-01-09 17:58:50
53,110,2022-01-07 00:00:00,7465.10,7580.00,7439.05,7557.95,7557.95,543415,ULTRACEMCO,2022-01-09 17:58:51
54,111,2022-01-07 00:00:00,782.00,790.70,776.55,788.95,788.95,2051446,UPL,2022-01-09 17:58:52
55,112,2022-01-07 00:00:00,708.00,721.50,707.60,711.50,711.50,6559426,WIPRO,2022-01-09 17:58:53